body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.pokemonCardSize:hover .pokemonInner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.frontHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 350;
}

.powerTypes {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.Poison,
.Grass,
.Fire,
.Water,
.Flying,
.Bug,
.Normal {
  height: 15px;
  width: 15px;
  border-radius: 1000px;
  margin-right: 2px;
}
.Normal {
  background-color: grey;
}
.Bug {
  background-color: black;
}

.Poison {
  background-color: red;
}

.Flying {
  background-color: burlywood;
}

.Water {
  background-color: blue;
}

.Grass {
  background-color: green;
}

.Fire {
  background-color: orange;
}

.type {
  border: 0.5px solid rgb(216, 216, 216);
  padding: 2px 7px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 2px 5px;
  font-size: 15px;
  font-weight: 100;
  height: 20px;
}

table {
  text-align: left;
  border: 1px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemonCardSize {
  width: 300;
  height: 400;
  margin-bottom: 20px;
}

.pokemonInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.pokemonFront,
.pokemonBack {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.pokemonBack {
  overflow: hidden;
  transform: rotateY(180deg);
  background-image: radial-gradient(white, white, rgb(169, 169, 238));
}

.tableDimension {
  width: 95%;
  border-radius: 5px;
}
.thProperties {
  font-weight: 400;
}
.tdProperties {
  font-weight: 200;
}
